<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="utf-8">
    <title> Register for Adobe Illustrator </title>
  	<meta name="robots" content="noindex, nofollow">
  	<meta charset="utf-8"/>
  	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  	<meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'rego/css/rego.css' %}">
  </head>

<body>

<div class="header">
  <h1> Adobe Illustrator Tutorial </h1>
  <img src="{% static 'rego/img/ai.png' %}" alt="Illustrator logo">
  <img src="{% static 'rego/img/usc.png' %}" alt="USC logo">
</div>

{% block content %}
{% endblock %}

<div class="container">
  <h3 class="muted"> Why Adobe Illustrator? </h3>
  <p class="lead">
    Adobe Illustrator is a production-standard software for graphic design. <br>
    Unlike MS paint or photoshop, it is a vector-oriented (rather than
    pixel-oriented) graphics design tool. This means that the graphic is made up
    of shapes, rather than pixels. This lends itself very well to designing
    sharp, precise graphic in a short length of time!<br><br>

    However, the toolkit featured in Illustrator is not very intuitive for
    people coming from simpler graphics programs. The purpose of this workshop
    is to give people a quick run-down on the most useful tools in Illustrator,
    and how to use them to get the result you are looking for.<br><br>

    With a bit of practise, you will find that you can draw much faster than you
    would have in Paint or Powerpoint, and with the potential to create much
    more impressive figures, diagrams and pictures. You can even use it to
    touch-up graphs and charts that have been exported from other programs.
    <span class="function" onclick="examples();">See below</span> for examples.
  </p>

  <p class="lead">
    And best of all, USC has made the full Adobe Suite
    <b> available for download on any USC computer. </b>
    If it's not already in your software center, please contact IT.
  </p>

  <p class="lead big"> In the workshop we will cover: </p>
  <ul>
    <li> Setting up your workspace </li>
    <li> Shapes, strokes and fills </li>
    <li> The pen tool: draw and modify shapes </li>
    <li> The select tools: for selecting objects (of course) </li>
    <li> The shape-builder tool: for creating complex shapes from simple ones </li>
    <li> Layers and how to use them effectively </li>
    <li> Saving and exporting </li>
    <!-- <li> Image-trace: turn pixel-images into shapes </li>
    <li> Transparency and blending </li>
    <li> Gradients </li>
    <li> Effects and filters </li> -->
  </ul>

  <p class="lead">
    The workshop will be held in a computing lab with the appropriate software
    installed already, so just bring yourself and a notepad.
  </p>

  <br>
  <p class="lead"> Any questions? Email <a href="mailto:cameron.hyde@research.usc.edu.au">cameron.hyde@research.usc.edu.au</a></p>
</div>

<div class="container img" id="examples">
  <img src="{% static 'rego/img/example1.png' %}" alt="Example image">
  <img src="{% static 'rego/img/example2.png' %}" alt="Example image">
  <img src="{% static 'rego/img/example3.png' %}" alt="Example image">
</div>

<script>
  function examples() {
    $([document.documentElement, document.body]).animate({
        scrollTop: $("#examples").offset().top
    }, 1000);
  }
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>

</html>
