<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="utf-8">
    <title> Register for Adobe Illustrator </title>
  	<meta name="robots" content="noindex, nofollow">
  	<meta charset="utf-8"/>
  	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  	<meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'rego/css/rego.css' %}">
  </head>

<body>

<div class="header">
  <h1> Adobe Illustrator Tutorial </h1>
  <img src="{% static 'rego/img/ai.png' %}" alt="Illustrator logo">
  <img src="{% static 'rego/img/usc.png' %}" alt="USC logo">
</div>

{% block content %}
{% endblock %}

<script>
  function examples() {
    $([document.documentElement, document.body]).animate({
        scrollTop: $("#examples").offset().top
    }, 1000);
  }
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>

</html>
