{% extends 'rego/header.html' %}

{% block content %}
{% load static %}

<div class="container">
  <h2 class="muted"> Tuesday 10th September </h2>
  <h2 class="muted"> 13:00 - 15:00 </h2>
  <h3 class="muted"> Building H </h3>
  <h3 class="muted"> Room G.28 (computer lab) </h3>
  <br>
  <h3 class="text-warn"> Registration closes at midnight 9th of September! </h3>
</div>

<div class="container">
  <h2 class="muted"> Please register for this workshop below: </h2>
  <h3 class="muted"> (You must be a registered student or staff member) </h3>
  <br>
  <h3 class="muted"> ({{ places_left }} places remaining) </h3>
  <br>
  <form action="/" method="post">
    {% csrf_token %}
    <div class="form-group">
      <label class="lead" for="name"> Name </label>
      <input class="form-control" type="text" name="name" {% if form.name.value %} value="{{ form.name.value }}" {% endif %} required>
      <label class="lead" for="email"> Email </label>
      <input class="form-control" type="email" name="email" {% if form.email.value %} value="{{ form.email.value }}" {% endif %} required>
    </div>
    <button class="btn btn-outline-primary" type="submit"> Register </button>
  </form>
</div>

<div class="container">
  <h3 class="muted"> Why Adobe Illustrator? </h3>
  <p class="lead">
    Adobe Illustrator is a production-standard software for graphic design. <br>
    Unlike MS paint or photoshop, it is a vector-oriented (rather than
    pixel-oriented) graphics design tool. This means that the graphic is made up
    of shapes, rather than pixels. This lends itself very well to designing
    sharp, precise graphic in a short length of time!<br><br>
    However, the toolkit featured in Illustrator is not very intuitive for
    people coming from simpler graphics programs. The purpose of this workshop
    is to give people a quick run-down on the most useful tools in Illustrator,
    and how to use them to get the result you are looking for.<br><br>
    With a bit of practise, you will find that you can draw much faster than you
    would have in Paint or Powerpoint, and with the potential to create much
    more impressive figures, diagrams and pictures. You can even use it to
    touch-up graphs and charts that have been exported from other programs.
    <span class="function" onclick="examples();">See below</span> for examples.
  </p>

  <p class="lead">
    And best of all, USC has made the full Adobe Suite
    <b> available for everyone to download. </b>
    If it's not already in your software center, please contact IT.
  </p>

  <p class="lead big"> In the workshop we will cover: </p>
  <ul>
    <li> Setting up your workspace </li>
    <li> Shapes, strokes and fills </li>
    <li> The pen tool: draw and modify shapes </li>
    <li> The select tools: for selecting objects (of course) </li>
    <li> The shape-builder tool: for creating complex shapes from simple ones </li>
    <li> Image-trace: turn pixel-images into shapes </li>
    <li> Layers and how to use them effectively </li>
    <li> Transparency and blending </li>
    <li> Gradients </li>
    <li> Effects and filters </li>
    <li> Saving and exporting </li>
  </ul>

  <p class="lead">
    The workshop will be held in a computing lab with the appropriate software
    installed already, so just bring yourself and a notepad.
  </p>

  <br>
  <p class="lead"> Any questions? Email <a href="mailto:cameron.hyde@research.usc.edu.au">cameron.hyde@research.usc.edu.au</a></p>
</div>

<div class="container img" id="examples">
  <img src="{% static 'rego/img/example1.png' %}" alt="Example image">
  <img src="{% static 'rego/img/example2.png' %}" alt="Example image">
  <img src="{% static 'rego/img/example3.png' %}" alt="Example image">
</div>



{% endblock %}
