{% extends 'rego/header.html' %}

{% block content %}
{% load static %}

<div class="container">
  <h2 class="muted"> {{ event_date }} </h2>
  <h2 class="muted"> 13:00 - 15:00 </h2>
  <h3 class="muted"> Building H </h3>
  <h3 class="muted"> Room G.28 (computer lab) </h3>
  <br>
  <h3 class="text-warn"> Registration will close at midnight {{ date_close }}! </h3>
</div>

<div class="container">
  <h2 class="muted"> Please register for this workshop below: </h2>
  <h3 class="muted"> (You must be a registered student or staff member) </h3>
  <br>
  <h3 class="muted"> ({{ places_left }} places remaining) </h3>
  <br>
  <form action="/" method="post">
    {% csrf_token %}
    <div class="form-group">
      <label class="lead" for="name"> Name </label>
      {{ form.name.errors }}
      <input class="form-control" type="text" name="name" {% if form.name.value %} value="{{ form.name.value }}" {% endif %} required>
      <label class="lead" for="email"> Email </label>
      {{ form.email.errors }}
      <input class="form-control" type="email" name="email" {% if form.email.value %} value="{{ form.email.value }}" {% endif %} required>
    </div>
    <button class="btn btn-outline-primary" type="submit"> Register </button>
  </form>
</div>


{% endblock %}
