{% extends 'rego/header.html' %}

{% block content %}
{% load static %}

<div class="container">
  <h1> Thanks for registering! </h1>
  <br>
  <p class="lead"> Please cancel if you decide you can't make it: </p>
  <p class="text-muted"> (You'll need to come back on the same computer and browser) </p>
  <a class="big" href="/cancel"> Cancel booking </a>
  <br><br><br>
  <h2 class="muted"> {{ event_date }} </h2>
  <h2 class="muted"> 13:00 - 15:00 </h2>
  <h3 class="muted"> Building H </h3>
  <h3 class="muted"> Room G.28 (computer lab) </h3>
</div>

{% endblock %}
